.root
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  div:first-child
    align-self: flex-start
    display: flex
    flex-direction: column

.items
  width: 100%
