.layout
  min-height: 100vh
  display: flex
  flex-direction: column

.header-menu-root
  border-radius: 0px !important

.header-index-link
  span
    padding-left: 0.5em
    width: 13em
    text-align: center

.main
  flex: 5 0 auto
  padding-top: 1em
  padding-bottom: 2em

.footer-root
  footer
    flex: 0 0 auto

.breadcrumb
  padding-left: 2em
  padding-bottom: 0.5em

.to-z-index
  z-index: 99
