.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-menu-root {
  border-radius: 0px !important;
}

.header-index-link {
  span {
    padding-left: 0.5em;
    width: 13em;
    text-align: center;
  }
}

.header_dropdowns {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.header_dropdown-item {
  text-align: center !important;
}

.header_burger-menu-icon {
  cursor: pointer;
}

.main {
  flex: 5 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
}

.footer-root {
  footer {
    flex: 0 0 auto;
  }
}

.breadcrumb {
  padding-bottom: 1em;
}

.to-z-index {
  z-index: 99;
}

.ant-tree {
  li.filter-node {
    span {
      color: #2185d0 !important;
      font-weight: 400 !important;
    }
  }
}