.list-root {
  display: flex;
  flex-direction: column;
}

.header-root {
  font-weight: inherit !important;
}

.paginationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
