.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > h2:first-of-type, a:first-of-type {
    align-self: flex-start;
  }

  > * {
    margin-bottom: 10px;
  }
}

.items {
  width: 100%;
}

.loader-wrapper {
  height: 100px;
  position: relative;
}

.table-body {
  font-size: 0.9em;
}
