.root
  width: 20em
  display: flex
  flex-direction: column
  align-items: flex-end
  z-index: 105
  position: fixed
  right: 0.2%
  top: 4em
  div
    padding: 0.3em !important
    margin: 0 0 0.5em 0 !important
    top: 0 !important
    p
      font-size: larger

.success
  background: rgba(76, 175, 80, 0.1) !important

.error
  background: rgba(230, 0, 0, 0.1) !important

.loading
  background: rgba(217, 217, 217, 0.1) !important

.close
  width: 3em
