<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
  <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="1000" />
    <target name="infoLogfile" xsi:type="File"
            layout="===================================================================${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}"
            fileName="logs\server_info_${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <target name="errorLogfile" type="RetryingWrapper">
      <target type="AsyncWrapper">
        <target xsi:type="File"
                layout="===================================================================${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}"
                fileName="logs\server_error_${shortdate}.log"
                concurrentWrites="true"
                keepFileOpen="false"/>
      </target>
    </target>

    <target name="debugLogfile" xsi:type="File"
            layout="===================================================================${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}"
            fileName="logs\server_debug_${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <target name="warningLogfile" type="RetryingWrapper">
      <target type="AsyncWrapper">
        <target xsi:type="File"
            layout="${longdate} ${message}"
            fileName="logs\server_warning_${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false"/>
      </target>
    </target>
  </targets>


  <rules>
    <logger name="*" level="Info" writeTo="infoLogfile" />
    <logger name="*" level="Error" writeTo="errorLogfile" />
    <logger name="*" level="Warn" writeTo="warningLogfile" />
    <!--<logger name="*" level="Debug" writeTo="debugLogfile" />-->
  </rules>
</nlog>
