.ant-tree li span.ant-tree-switcher.ant-tree-roots_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-center_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-bottom_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-noline_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-roots_close:after,
.ant-tree li span.ant-tree-switcher.ant-tree-center_close:after,
.ant-tree li span.ant-tree-switcher.ant-tree-bottom_close:after,
.ant-tree li span.ant-tree-switcher.ant-tree-noline_close:after {
    font-family: Icons;
    font-size: 18px !important;
    content: "\f13a" /* ''; */
}