.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > h2:first-of-type {
    align-self: flex-start;
  }

  > * {
    margin-bottom: 10px;
  }
}

.items {
  width: 100%;
}
