.root
  width: 100%
  display: flex
  flex-wrap: wrap
  align-content: flex-wrap
  justify-content: space-around

.fields-container
  width: 50%

.mappings-container
  width: 100%

.submit
  align-self: flex-end
