.container
  display: flex
  flex-direction: row 
  justify-content: flex-start
  align-items: center

.labelStyle
  width: 100%
  margin: 0 auto

.boldText
  display: inline
  white-space: nowrap
  font-weight: bold
  margin-right: 4px
