.container
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
  margin-left: 0.5em

.labelStyle
  width: 100%
  margin: 0 auto

.boldText
  display: inline
  word-wrap: break-word
  font-weight: bolder
  margin-right: 0.5em
  width: 60%

.heigthHeader
  height: 0.3em

.labelRegion
  display: block
  word-wrap: normal
  text-align: center

.unitType
  margin: 0 0 20px 0

