<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie-edge"/>
    <title>nscreg</title>
    <meta name="description" content="nscreg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div id="root"></div>
<script src="@ViewData["assets:main:js"]"></script>
</body>
</html>
