<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie-edge"/>
    <title>nscreg</title>
    <meta name="description" content="nscreg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>
  <div id="root"></div>
  <script src="@ViewData["assets:main:js"]"></script>
</body>
</html>
