<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="utf-8" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/site.css"/>
</head>

<body>
    <div class="ui one column center aligned grid">
        <div class="column six wide form-holder" style="margin-top: 15%;">
            <h2 class="center aligned header form-head">Пожалуйста, авторизуйтесь!</h2>
            <form method="post" action="~/Home/Login">
                <div class="ui form">
                    <div class="field">
                        <input type="text" placeholder="Логин">
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Пароль">
                    </div>
                    <div class="field">
                        <input type="submit" value="Войти" class="ui button middle fluid blue">
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>
</html>