.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
}

.labelStyle {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.emptyLabel {
  width: 100%;
  margin: 0 auto;
  height: 32px;
}

.boldText {
  display: inline;
  word-wrap: break-word;
  font-weight: bolder;
  margin-right: 0.5em;
  width: 60%;
}

.heightHeader {
  height: 0.3em;
}

.labelRegion {
  display: block;
  word-wrap: normal;
  text-align: center;
}

.unitType {
  margin: 0 0 20px 0;
}

.columnMargin {
  margin-bottom: 20px !important;
}
