.dz-container {
  width: 100%;
  height: 250px;
  padding: 25px;
  text-align: center;
  font-size: 25px;
  border: {
    width: 2px;
    color: #1678c2;
    style: dashed;
  }
  border-radius: 5px;
  
  > div {
    height: 100%;
  }
}

.dz_message_incorrect-format {
  color: red;
  font-weight: bold;
}

.dz-list {
  text-align: left;
  font-size: 16px;
}
