.outer
  display: flex
  flex-direction: column
  width: 75%
  align-items: flex-start

.main
  width: 78%
  display: flex
  flex-direction: row
  justify-content: space-between

.frameStyle
  height: '0px'
  width: '0px'
  position: 'absolute'



