.root
  width: 100%
  display: flex
  flex-wrap: wrap
  align-content: flex-wrap
  justify-content: space-around

.dz-container
  width: 30%
  height: 250px
  padding: 15px
  > div
    height: 100%

.fields-container
  width: 50%

.mappings-container
  width: 100%

.submit
  align-self: flex-end
