.form
  width: 100%

.toggle
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.fieldset
  border: 2px solid rgba(34,36,38,.15)
  border-radius: 6px

.legend
  font-weight: bold