.searchForm {
  width: 100% !important;
  display: flex;
  flex-direction: column;

  &::after {
    display: none !important;
  }
}

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset {
  border: 2px solid rgba(34, 36, 38, .15);
  border-radius: 6px;
}

.label {
  font-weight: bold;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.selectStyle {
  width: 100%;
  margin: 0 auto;
}

.groupStyle {
  margin-bottom: 0 !important;
}

.extendedTaskbar {
  margin-bottom: 14px;
}
