@model Server.Models.User
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
</head>
<body>
    <h1>@Model.Login</h1>
    <p>@Model.Id</p>
    <p>@Model.Password</p>
</body>
</html>