.root
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start

.header
  display: flex
  justify-content: space-between
  align-items: center

.totalCount
  padding-left: 15px

.pageSizeLinks
  *
    padding: 2px 5px
    border: 1px solid
    margin: 0 5px

.footer
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  
  *
    padding: 2px 5px
    margin: 0 5px
