.flipped {
  transform: scale(1, -1) !important;
}

.rotated-270 {
  transform: rotate(270deg) !important;
}

.large-corner-icon {
  transform: scale(1.5, 1.5) !important;
}

.group {
  padding: 0 !important;
  width: 1em !important;

  &-edge {
    border-left: 0.1em solid rgba(185, 185, 185, 1);
  }

  &-start {
    border-top: 0.1em solid rgba(185, 185, 185, 1) !important;
  }

  &-end {
    border-bottom: 0.1em solid rgba(185, 185, 185, 1);
  }

  &-0 {
    background: rgba(255, 232, 230, 1) !important;
  }

  &-1 {
    background: rgba(235, 255, 237, 1) !important;
  }

  &-2 {
    background: rgba(247, 191, 143, 1) !important;
  }

  &-3 {
    background: rgba(255, 237, 222, 1) !important;
  }

  &-4 {
    background: rgba(255, 248, 219, 1) !important;
  }

  &-5 {
    background: rgba(241, 155, 241, 1) !important;
  }

  &-6 {
    background: rgba(233, 255, 255, 1) !important;
  }

  &-7 {
    background: rgba(234, 231, 255, 1) !important;
  }

  &-8 {
    background: rgba(166, 166, 76, 1) !important;
  }

  &-9 {
    background: rgba(255, 227, 251, 1) !important;
  }
}
