name: app build & lint
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'devops/**'  # Ignore any branch prefixed with devops/
  pull_request:
    branches-ignore:
      - 'devops/**'  # Ignore any branch prefixed with devops/

jobs:
  build-app:
    runs-on: ubuntu-20.04
    container:
      image: node:20.10-alpine
    steps:
      - uses: actions/checkout@v3
      - name: Build app
        run: |
          cd app
          npm ci
          npm test -- --ci --silent
          npm run lint -- --quiet
          npm run build -- --no-lint
